*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(to right, white 60%, rgb(31, 0, 170) 40%);
}

header{
    
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
    background-color: rgb(2, 0, 24);
}

h1{
    font-family: "Tourney";
    font-weight: 900;
    font-size: 50px;
    font-style: normal;
    color: rgb(255, 255, 255);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao_nav_bar{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 40px;
}

.botoes_nav_bar{
    color: rgb(160, 160, 160);
    padding: 10px;
    margin: 10px;
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 25px;
    transition: 0.3s;
}

.botoes_nav_bar:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: rgb(104, 151, 228);

}

.sessa_apresentacao{
    padding: 10px;
    margin: 20px;
}

#apresentacao_texto1{
    margin: 0px;
    padding-top: 20px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
     
}

#apresentacao_texto2{
    margin: 0px;
    padding-top: 20px;    
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px; 
    color: rgb(0, 2, 136); 
}

#apresentacao_texto3{
    margin: 0px;
    padding-top: 20px;  
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px; 
    color: rgb(50, 50, 50);  
}

.botao_curriculo{
    background-color: rgb(31, 0, 170);
    color: white;
    padding: 10px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    transition: 0.3s;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.botao_curriculo:hover{
    background-color: rgb(0, 121, 250);
    color: white;
    cursor: pointer;
    transform: scale(1.4) translate(25px, 10px);
}

.card {
    width: 500px;
    height: 500px;
    perspective: 1000px; /* importante para efeito 3D */
}

/* Card interno que gira */
.card-inner {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

/* Ao passar o mouse, gira 180° */
.card:hover .card-inner {
    transform: rotateY(180deg);
}

/* Frente do card */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* esconde o lado “de costas” */
    overflow: hidden;
}

/* Lado da imagem */
.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Lado de trás (card branco com texto) */
.card-back {
    background: white;
    color: black;
    border: 2px solid black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    border-radius: 12px;
}

.cabecalho{
    background-color: rgb(31, 0, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.coteudo_card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.conteudo_card_linha1{
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.conteudo_card_outras_linhas{
    font-size: 18px;
    color: rgb(50, 50, 50);
    margin-bottom: 10px;
}

.sessao_contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.botoes_contatos{
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 20px;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.3s;
    padding: 10px;
}

.botoes_contatos:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(31, 0, 170);
}

.botoes_contatos:hover{
    transform: scale(1.2);
    cursor: pointer;
}


a{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}


